@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&display=swap');
@import "tailwindcss";

@theme {
  --font-orbitron: "Orbitron", system-ui;
  --font-exo2: "Exo 2", system-ui;
  --color-gunmetal-dark: #1C1E21;
  --color-beskar-silver: #A8A9AD;
  --color-rust: #C79F70;
  --color-leather-brown: #4E342E;
  --color-muted-olive: #4B5320;
}